.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright__text {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright__btn {
  margin-right: 0;
  padding: 10px 29px;

  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
